/*

Fonts for layout
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Dancing Script', cursive;

*/

body {
  background: url(http://i.imgur.com/uNTHBy1.png);
  color: white;
  padding: 5px;
}

div.topBar {
  text-align: center;
  margin: 0 auto;
  background: rgba(152,166,171,0.2);
  width: 700px;
  border-radius: 10px;
  padding-top: 20px;
}

/* -- H1 H2 H3 --- */

h1 {
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 300;
    font-size: 30px;
    color: white;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: white;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}


/* -- header image -- */

h1.headerTop {
  width: 250px;   
  background-image: url(../img/ng-instagram_solo.png);
  background-repeat:no-repeat;
  padding: 8px;    
  margin: 0 auto;
  display:inline-block;
}

h1.headerTop span {
  display:inline-block;
  height: 0;
  overflow: hidden;
}


input {
  border: 5px solid black:
  margin: 0 0 10px 0;
  padding-bottom: 10px;
}

.results {
  opacity: 1;
  margin-left: 0;
}

/* Table Tags */

.tablePhotos {
    margin-right: auto;
    margin-left: auto;
    border: 1px;
    width: 600px;
}

.photos {
    float: left;
    width: 200px;
}


img {
    width: 180px;
    padding:10px;
}

/* -- Fade in Animation --*/

.results.ng-hide-remove,
.results.ng-hide-add {
  transition: all linear 2s;
}

.results.ng-hide {
  opacity: 0;
}

/* -- Fade animation end -- */


img {
  padding: 10px;
}

.search {
  padding: 3px;
  margin: 10px;
}

.btn-style{
	border : solid 0px #ffffff;
	border-radius : 10px;
	moz-border-radius : 10px;
	font-size : 12px;
	color : #000000;
	padding : 3px 10px;
	background-color : ;
  cursor: pointer;
}

@media only screen and (min-width: 240px) and (max-width: 750px){
    body{
        padding: 15px;
    }
    
    .topBar.ng-scope{
      width: 400px;
      padding-top: 5px;    
    }
    
    img {
        width: 130px;
        padding: 5px;
    }
    .tablePhotos {
        margin-right: auto;
        margin-left: auto;
        border: 1px;
        margin: 0 auto;
        width: 375px;
    }

    .photos {
        float: left;
        width: 185px;
    }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 751px) and (max-width: 1100px) {
     body{
        padding: 30px;
    }
    
    .topBar.ng-scope{
      width: 550px;
      padding-top: 10px;    
    }
    
    img {
        width: 150px;
        padding: 5px;
    }
    .tablePhotos {
        margin-right: auto;
        margin-left: auto;
        border: 1px;
        margin: 0 auto;
        width: 525px;
    }

    .photos {
        float: left;
        width: 175px;
    }

}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1101px) and (max-width : 1224px) {
    body{
        padding: 40px;
    }
    
    .topBar.ng-scope{
      width: 600px;
      padding-top: 15px;    
    }
    

}

